.app-header {
  display: flex;

  .mat-toolbar {
    background-color: var(--black);
    color: var(--white);
    padding: 1.5em 10em;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: var(--white);
  }

  button {
    margin: 0 1em;
    padding: 1em auto;
  }
}
