.form-search {
  display: block;
  margin: 40px 0;
  
  .flex-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 16px 0;

    button {
        padding: 2em;
        margin-top: -2px;
    }
  }

  .input-container {
    margin-bottom: -1.25em;
  }

  .mat-button-toggle-checked {
    background-color: var(--light1);
  }
}

