<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selection-age">
      <ul>
        <li>Adultos</li>
        <li>(Acima de 12 anos)</li>
        <li>
          <button mat-mini-fab>
            <img
              src="/assets/icons/do_not_disturb_on"
              alt="Operador de subtração"
            />
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</section>
