<app-banner
  src="/assets/images/banner-homepage.png"
  alt="Banner Jornada Milhas"
></app-banner>
<app-container>
    <h2>Promoções</h2>
    <div class="card-wrapper">
        <app-card-search></app-card-search>
        <app-card-search></app-card-search>
        <app-card-search></app-card-search>
        <app-card-search></app-card-search>
        <app-card-search></app-card-search>
        <app-card-search></app-card-search>
    </div>
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
      <app-card-testimony></app-card-testimony>
      <app-card-testimony></app-card-testimony>
      <app-card-testimony></app-card-testimony>
      <app-card-testimony></app-card-testimony>
    </div>
</app-container>
