@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --white: #fff;
  --light1: #fef7ff;
  --light2: #f5f5f5;
  --darklight: #cac4d0;

  --black: #000;
  --dark: #1d1b20;
}
